<!DOCTYPE html>
<html>
<head>
<title>Sell | eBay</title>
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<link rel='stylesheet' href='/stylesheets/style.css' />
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
<script
	src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular.min.js"></script>
<script src="http://code.jquery.com/ui/1.9.2/jquery-ui.js"></script>
<!-- Loading the AngularJS file from /public/angularJS folder -->
<script src="angularjs/sellingHistory.js"></script>

</head>
<body ng-app="EbayApp" ng-controller="SellHistoryController" >
	<div class="row">
	<div class="col-md-1"><a href="/Home"><img class="logo" src="/images/EBay_logo.png" height="50" width="90"
			alt="My_Logo"></a></div>
	<div class="col-md-9">
	<ul class="nav nav-pills">
		<li class="dropdown">
			<a class="dropdown-toggle" data-toggle="dropdown" href="#">Hi, <%= username %> <b class="caret"></b></a>
			<ul class="dropdown-menu">
			<li class="list"><form ng-submit="userProfile()" method="get"><input type="submit" value="Profile" class="btn btn-block " /></form></li>
					<li class="list"><a href="/purchaseHistory">Purchase History</a></li>
			<li class="list"><a href="/sellingHistory">Selling History</a></li>
					<li class="list"><form action="logout" method="post"><input type="submit" value="Logout" class="btn btn-block " /></form>
					</li>
		</ul>
		</li>
			<li class="list"><a href="/Home">Home</a></li>
		<li class="list"><a href="/Sell">Sell</a></li>
		<li class="list"><a href="/highestBidder">Highest Bidders</a></li>
	</ul>
	</div>
	<div class="col-md-2">
		<button ng-click="openCart()" style="fixed: right" type="submit" id="cartBtn" class="btn btn-primary">
			Cart  <span class="glyphicon glyphicon-shopping-cart">  </span>
		</button>
	</div>
</div>
<div id="body">
		<div class="row">
			<div class="col-md-2"></div>
			<div class="col-md-8">
				<br>
				<h2>Selling History</h2>
				<table id="table1" border="2" class="table table-striped">
					<thead>
						<tr>
							<td><b>Product ID</b></td>
							<td><b>Product Name</b></td>
							<td><b>Product Price</b></td>
							<td><b>Product Quantity</b></td>
							<td><b>Sold On</b></td>
							<td><b>Bidding Allowed</b></td>
						</tr>
					</thead>

						<tr ng-repeat="item in items">
							<td>{{item._id}}</td>
							<td>{{item.itemname}}</td>
							<td>{{item.itemprice}}</td>
							<td>{{item.itemquantity}}</td>
							<td>{{item.selltime}}</td>
							<td>{{item.bidding}}</td>
						</tr>
				</table>
			</div>
			<div class="col-md-2"></div>
		</div>
</div>
	<div id="footer"></div>
</body>
</html>
